{% extends 'main/base_main.html' %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}
<div class="container" style="margin-bottom: 30px">
    <div>
        <h2 class="display-6" >Прогресс за день</h2>
    </div>

    {% if pb_data != 100 %}
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: {{ pb_data }}%" aria-valuenow="{{ daily1|length }}" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
    {% else %}
    <div class="progress">
        <div class="progress-bar progress-bar-striped progress-bar-animated bg-success" role="progressbar" style="width: 100%" aria-valuenow="100%" aria-valuemin="0" aria-valuemax="{{ daily|length }}"></div>
    </div>
    {% endif %}

    <nav class="nav navbar-dark" style="margin-top: 10px">
        <div class="navbar-nav w-100 justify-content-center">
            <button type="button" class="btn btn-sm btn-rounded btn-outline-dark text-light border" data-bs-toggle="collapse" data-bs-target="#quests"><i class="bi bi-arrow-down-up"></i></button>
        </div>
    </nav>
    <div class="container collapse" id="quests">
        {% if daily2|length > 0 %}
            {% for task in daily2 %}
                    <div class="row container justify-content-center" style="margin-top: 10px">
                        <div class="card w-100 border bg-dark rounded border-{{ task.priority.tag }}" style="width: 18rem; margin-top: 25px;">
                            <div class="card-header border-{{ task.priority.tag }}">
                                <h5 class="card-title text-center text-{{ task.priority.tag }} display-6">{{ task.category }}: <i>{{ task.title }}</i></h5>
                            </div>
                            {% if task.comment %}
                            <div class="card-body">
                                <p class="card-text text-{{ task.priority.tag }} display-6">Подробности задачи:<br><i>{{ task.comment }}</i></p>
                            </div>
                            {% endif %}
                            <div class="card-footer border-{{ task.priority.tag }} text-center">
                                <button type="button" class="btn btn-outline-info btn-rounded btn-lg w-100" data-bs-toggle="modal" data-bs-target="#task_transfer{{ task.id }}">Отложить</button>
                            </div>
                        </div>
                    </div>

        <!-- Modal Task Transfer -->
        <div class="modal fade" id="task_transfer{{ task.id }}" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered text-dark">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Выберете дату на которую хотите перенести задачу</h5>
                    </div>
                    <div class="modal-body">
                        <form method="post" id="transfer_form{{ task.id }}">
                            {% csrf_token %}
                            {{ form.as_p }}
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Назад</button>
                        <button type="submit" form="transfer_form{{ task.id }}" class="btn btn-primary" name="transfer_task" value="{{ task.id }}">Перенести задачу</button>
                    </div>
                </div>
            </div>
        </div>
        <!------------------------->
        {% endfor %}
        {% else %}
        <div class="container text-center">
            <h3 class="display-6">Все задачи на сегодня выполнены.</h3>
        </div>
        {% endif %}
    </div>
</div>

<div class="pricing-header p-3 pb-md-4 mx-auto text-center border-top">
    <h1 class="display-4 fw-normal">TimeDis</h1>
    <p class="fs-5 text-muted"><b>{{ request.user.username|title }}</b>, добро пожаловать в TimeDis! Это тайм-менеджмент приложение поможет вам с планированием ваших дел и напомнит о том, что вы должны сделать сегодня. Начните распределение вашего времени прямо сейчас!</p>
</div>

<div class="container-fluid text-center">
    <div class="row g-2">
        <div class="col-sm">
            <a class="btn btn-outline-success btn-lg btn-block w-100" href="{% url 'add_task' %}" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-plus-square" viewBox="0 0 16 16">
                    <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                </svg>
                Создать задачу
            </a>
        </div>
        <div class="col-sm">
            <a class="btn btn-outline-danger btn-lg btn-block w-100" href="" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-calendar2-week" viewBox="0 0 16 16">
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zM2 2a1 1 0 0 0-1 1v11a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H2z"/>
                    <path d="M2.5 4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5H3a.5.5 0 0 1-.5-.5V4zM11 7.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm-5 3a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1zm3 0a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v1a.5.5 0 0 1-.5.5h-1a.5.5 0 0 1-.5-.5v-1z"/>
                </svg>
                Календарь
            </a>
        </div>
        <div class="col-sm">
            <a class="btn btn-outline-info btn-lg btn-block w-100" href="{% url 'my_tasks' %}" role="button">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-card-list" viewBox="0 0 16 16">
                    <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h13zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-13z"/>
                    <path d="M5 8a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7A.5.5 0 0 1 5 8zm0-2.5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm0 5a.5.5 0 0 1 .5-.5h7a.5.5 0 0 1 0 1h-7a.5.5 0 0 1-.5-.5zm-1-5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zM4 8a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0zm0 2.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
                </svg>
                Мои задачи
            </a>
        </div>
    </div>
</div>

<div class="container border-top" style="margin-top: 50px">
    <h2 class="display-6" style="margin-top: 25px">Задачи на сегодня</h2>
    <div class="bg-dark border border-end-0 border-bottom-0 border-top-0">
        <div class="container">
            {% if daily|length > 0 %}
                {% for task in daily %}
                <div class="row border-bottom">
                    <nav class="navbar navbar-dark">
                        <div class="navbar-nav w-100 justify-content-center ">
                            <a href="{% url 'delete_task' task.slug %}" class="btn btn-close btn-close-white text-right" style="position: absolute; right: 15px; top: 15px;"></a>
                            <button class="btn navbar-toggle btn-outline-{{ task.priority.tag }} btn-rounded" data-bs-toggle="collapse" data-bs-target="#id{{ task.id }}" aria-expanded="false">
                                {% if task.progress == 1 %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="50" height="50" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16" style="position: absolute; left: 15px; top: 20px;">
                                    <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                                    <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                                </svg>
                                {% else %}
                                <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" fill="currentColor" class="bi bi-circle" viewBox="0 0 16 16" style="position: absolute; left: 20px; top: 24px;">
                                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                                </svg>
                                {% endif %}
                                <h2 class="display-6 text-center">{{ task.category }}: <i>{{ task.title }}</i></h2>
                            </button>
                        </div>
                    </nav>

                    <div class="collapse text-{{ task.priority.tag }}" id="id{{ task.id }}">
                        {% if task.comment %}
                        <p class="display-6">Подробности задачи:<br><i>{{ task.comment }}</i></p>
                        {% endif %}
                        <form method="get">
                            <div class="btn-group" role="group" style="margin-bottom: 15px">
                                {% if task.progress == 1 %}
                                <a href="{% url 'delete_task' task.slug %}" class="btn btn-outline-danger btn-rounded">
                                    <i class="bi bi-calendar-x"></i> Удалить задачу
                                </a>
                                {% else %}
                                <button class="btn btn-outline-success btn-rounded" name="success" value="{{ task.id }}"><i class="bi bi-calendar2-check"></i> Задача выполнена</button>
                                {% endif %}
                            </div>
                        </form>
                    </div>

                </div>
                {% endfor %}
            {% else %}
                <div class="text-center"><h3 class="display-6">Сегодня вы свободны</h3>
                    <span class="badge">
                        <svg xmlns="http://www.w3.org/2000/svg" width="35" height="35" fill="currentColor" class="bi bi-emoji-wink" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M4.285 9.567a.5.5 0 0 1 .683.183A3.498 3.498 0 0 0 8 11.5a3.498 3.498 0 0 0 3.032-1.75.5.5 0 1 1 .866.5A4.498 4.498 0 0 1 8 12.5a4.498 4.498 0 0 1-3.898-2.25.5.5 0 0 1 .183-.683zM7 6.5C7 7.328 6.552 8 6 8s-1-.672-1-1.5S5.448 5 6 5s1 .672 1 1.5zm1.757-.437a.5.5 0 0 1 .68.194.934.934 0 0 0 .813.493c.339 0 .645-.19.813-.493a.5.5 0 1 1 .874.486A1.934 1.934 0 0 1 10.25 7.75c-.73 0-1.356-.412-1.687-1.007a.5.5 0 0 1 .194-.68z"/>
                        </svg>
                    </span>
                </div>
            {% endif %}
        </div>
    </div>
</div>

<div class="container border-top" style="margin-top: 50px">
    <h2 class="display-6" style="margin-top: 25px">Итоги недели</h2>


</div>
{% endblock %}