{% extends 'base.html' %}
{% load task_tags %}

{% block title %} Мои {% endblock %}

{% block content %}
<div class="container">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <h1>Ваши {{ title }}:</h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#search" aria-controls="search" aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-chevron-down"></i>
            </button>
        </div>
    </nav>
    <div class="collapse" id="search">
        {% search_task %}
        <br>
        <div class="btn-group border-top border-bottom rounded w-100">
            <div class="row">
                <div class="col border-end">
                    <h3>Фильтры:</h3>
                    {% get_filters url=url_name cur_filter=filter_by %}
                </div>
                <div class="col-lg-3">
                    <h3>Разделы:</h3>
                    {% get_categories request.user %}
                    {% get_priorities request.user %}
                </div>
            </div>
        </div>
    </div>
    {% block body %} {% endblock %}
    <div class="bg-dark mt-5">
            <nav aria-label="PaginationBar">

                <ul class="pagination justify-content-center p-3">
                    {% if page_obj.has_previous %}
                    <li class="page-item">
                        <a href="?page={{ page_obj.previous_page_number }}{{ filter_by }}" class="page-link"><i class="bi bi-arrow-left"></i></a>
                    </li>
                    {% endif %}
                    {% for p in page_obj.paginator.page_range %}
                        {% if page_obj.number == p %}
                            <li class="page-item active" aria-current="page">
                                <a href="?page={{ p }}{{ filter_by }}" class="page-link">{{ p }}</a>
                            </li>
                        {% elif p > page_obj.number|add:-3 and p < page_obj.number|add:3 %}
                            <li class="page-item">
                                <a href="?page={{ p }}{{ filter_by }}" class="page-link">{{ p }}</a>
                            </li>
                        {% endif %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                    <li class="page-item">
                        <a href="?page={{ page_obj.next_page_number }}{{ filter_by }}" class="page-link"><i class="bi bi-arrow-right"></i></a>
                    </li>
                    {% endif %}
                </ul>

            </nav>
        </div>
</div>
{% endblock %}