<button type="button" class="btn btn-outline-danger dropdown-toggle dropdown-toggle-split mb-2" data-bs-toggle="dropdown" aria-expanded="false">Задачи по приоритету</button>
<ul class="dropdown-menu dropdown-menu-right">
    <li>
        <a class="dropdown-item" href="{% url 'my_tasks' %}">
            Все&nbsp<span class="badge bg-danger rounded-pill">{{ all_cnt }}</span>
        </a>
    </li>
    <div class="dropdown-divider"></div>
    {% for priority in priorities %}
        <li>
            <a class="dropdown-item" href="{% url 'tasks_by_priority' priority.title %}">
            {{ priority.title }}
            &nbsp<span class="badge bg-danger rounded-pill">{{ priority.cnt }}</span>
            </a>
        </li>
    {% endfor %}
</ul>