{% extends 'tasks_app/base_tasks_app.html' %}

{% block title %} {{ block.super }} задачи {% endblock %}

{% block content %}
<div class="container">
    <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
            <h1>Ваши задачи:</h1>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#search" aria-controls="search" aria-expanded="false" aria-label="Toggle navigation">
                <i class="bi bi-chevron-down"></i>
            </button>
        </div>
    </nav>
    <div class="collapse" id="search">
        <form class="d-flex" method="post">
            <input class="form-control mr-2" list="search_name" name="search_title" placeholder="Поиск...">&nbsp
            <datalist id="search_name">
                {% for task in tasks %}
                    <option value="{{ task.title }}">
                {% endfor %}
            </datalist>
            <button class="btn btn-floating btn-outline-success mr-1" name="search" type="submit" value="Поиск"><i class="bi bi-search"></i></button>
        </form>
        <br>
    </div>

    {% if tasks|length > 0 %}
        {% for task in tasks %}
    <div class="alert alert-{{ elm.priory }} border">
        <h2>{{ task.title }}</h2>
        <p><b>Дата события: {{ task.deadline|date:"d.m.Y H:i:s" }}</b></p>


        <div class="btn-group" role="group" aria-label="btn_group">
            <a class="btn btn-outline-info" name="id_update" href="get_absolute_url">Подробнее</a>
            <a type="submit" class="btn btn-outline-danger" name="id_delete" value="">Удалить</a>
        </div>

    </div>
        {% endfor %}
    {% else %}
    <p>У вас нет задач</p>
    <a class="btn btn-success" href="{% url 'add_task' %}">Создать задачу</a>
    {% endif %}
</div>
{% endblock %}