{% extends 'tasks_app/base_tasks_app.html' %}

{% block title %} {{ block.super }} {{ title }} {% endblock %}

{% block body %}
<div class="album py-5 bg-dark rounded">
    <div class="container">
        <div class="row gy-5">
            {% for task in tasks %}
            <div class="col" align="center">
                <div class="card mb-4 h-100 bg-dark rounded border" style="width: 20rem;">
                    {% if task.failed %}
                    <div class="card-header border-bottom bg-secondary">
                        <p class="card-text fs-3">Просрочено</p>
                        <a href="{% url 'delete_task' task.slug %}" class="btn btn-close btn-close-white text-right" style="position: absolute; right: 5px; top: 5px;"></a>
                    </div>
                    {% else %}
                    <div class="card-header border-bottom bg-{{ task.priority.tag }}">
                        <p class="card-text fs-3">{{ task.category }}</p>
                        <a href="{% url 'delete_task' task.slug %}" class="btn btn-close btn-close-white text-right" style="position: absolute; right: 5px; top: 5px;"></a>
                    </div>
                    {% endif %}
                    <div class="card-body">
                        <p class="card-text fs-3">{{ task.title|title }}</p>
                        <p class="card-text">Срок выполнения: до {{ task.deadline|date:"d.m.Y" }}</p>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group w-100">
                            <a class="btn btn-outline-info w-100" href="{{ task.get_absolute_url }}">Подробнее</a>
                        </div>
                    </div>
                </div>
            </div>
            {% empty %}
            <p class="text-center display-6">У вас ещё нет задач
                <br><a class="btn btn-outline-success w-25 text-center mt-3" href="{% url 'add_task' %}">Создать задачу</a>
            </p>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %}